body,
html{
    margin: 0px;
    padding: 0px;
}
.outer{
    width: 7.6cm;
    height: 3.7cm;
    position:relative;
    overflow: hidden;
    margin-bottom: 2px;
}
@media print {
    .outer{
        page-break-after: always;
    }
}
.left{
    width: 5.4cm;
    max-width: 5.4cm;
    height: 4cm;
    max-height: 4cm;
    
    float: left
}
.right{
    width: 2cm;
    max-width: 2.9cm;
    height: 3.8cm;
    max-height: 3.8cm;
    border: 0px solid #F00;
    float: left;
    overflow: hidden;
}
td{
    font-size: 12px;
    line-height: 0.75cm;
    text-align: center;
    max-height: 0.75cm;
    overflow: hidden;
    font-weight: bold;
    border: 1px solid #000;
}
.pobuyer,
.item{
    font-size: 15px;
    height: 1cm;
    line-height: 1cm;
    text-align: center;
    border-bottom: 1px solid #000;
    font-weight: bold;
}
.joborder,
.need,
.style,
.category{
    font-size: 10px;
    width: 49%;
    text-align: center;
}
.joborder,
.style{
    border-right: 1px solid #000;
}
.item{
    border-top: 1px solid #000;
}
.noborder, .outer{
    border: 0.1px solid #FFF;
    border-right: 0.1px solid #000;
}