.outer{
		font-family: arial;
		text-transform: uppercase;
		margin-left:0cm;
		margin-right: 0.3cm;
		height:21.5cm;
		width:33cm;
		border-radius: 0cm;
		margin-bottom: 0.5cm;
		margin-top: 0cm;
		
	}
	.title,
	.creator,
	.company,
	.footer{
		text-align: center;
		padding-top: 15px;
		font-weight: bold;
		font-size: 12px;		
	}	
	.qrcode{
		text-align: left;
		margin-left: 0px;
		width: 25%;
		float: left;
		margin-top: 20px;
		
	}
	.header{
		height:1.8cm;
		width: 31cm;
		margin-top: 0.3cm;
		margin-left: 1cm;
		margin-right: 1cm;
		border: 2px solid #000;
	}
	.header-kiri{
		height:1.6cm;
		width: 4cm;
		text-align: center;
		padding-top: 4px;
		float: left;
	}
	.header-kanan{
		font-family: arial;
		font-weight: bold;
		height:1.6cm;
		width: 9.8cm;
		text-align: center;
		padding-top: 15px;
		float: right;
	}

	.header-tengah{
		font-family: arial;
		font-weight: bold;
		height:1.6cm;
		text-align: center;
		padding-top: 15px;
	}

	.isi{
		width: 31cm;
		margin-top: 0.2cm;
		margin-left: 1cm;
		margin-right: 1cm;
		font-weight: bold;
		font-size: 12px;
		position: absolute;
	}
	.creator{
		padding-top: 5px;
	}
	table{
		font-size: 10pt;
	}