.btn-primary-red {
  color: #fff;
  background-color: #EC4040;
  border-color: #EC4040;
}

.bg-transparent {
  background-color: transparent;
  border-color: transparent;
}

.navbar-inner {
  background:transparent;
}

.navbar-inverse-login {
  background-color: transparent;
  border-color: transparent;
}
.navbar-inverse-login .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
}
.navbar-inverse-login .navbar-brand:hover,
.navbar-inverse-login .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-inverse-login .navbar-text {
  color: rgba(255, 255, 255, 0.9);
}
.navbar-inverse-login .navbar-nav > li > a {
  color: #000000;
}
.navbar-inverse-login .navbar-nav > li > a:hover,
.navbar-inverse-login .navbar-nav > li > a:focus {
  color: #000000;
  background-color: transparent;
}
.navbar-inverse-login .navbar-nav > .active > a,
.navbar-inverse-login .navbar-nav > .active > a:hover,
.navbar-inverse-login .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: transparent;
}
.navbar-inverse-login .navbar-nav > .disabled > a,
.navbar-inverse-login .navbar-nav > .disabled > a:hover,
.navbar-inverse-login .navbar-nav > .disabled > a:focus {
  color: #000000;
  background-color: transparent;
}
.navbar-inverse-login .navbar-toggle {
  border-color:transparent;
}
.navbar-inverse-login .navbar-toggle:hover,
.navbar-inverse-login .navbar-toggle:focus {
  background-color:transparent;
}
.navbar-inverse-login .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse-login .navbar-collapse,
.navbar-inverse-login .navbar-form {
  border-color:transparent;
}
.navbar-inverse-login .navbar-nav > .open > a,
.navbar-inverse-login .navbar-nav > .open > a:hover,
.navbar-inverse-login .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #000000;
}
@media (max-width: 768px) {
  .navbar-inverse-login .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: transparent;
  }
  .navbar-inverse-login .navbar-nav .open .dropdown-menu .divider {
    background-color:transparent;
  }
  .navbar-inverse-login .navbar-nav .open .dropdown-menu > li > a {
    color: rgba(255, 255, 255, 0.9);
  }
  .navbar-inverse-login .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse-login .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse-login .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse-login .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse-login .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse-login .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse-login .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse-login .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
  }
}
.navbar-inverse-login .navbar-link {
  color: rgba(255, 255, 255, 0.9);
}
.navbar-inverse-login .navbar-link:hover {
  color: #fff;
}
.navbar-inverse-login .btn-link {
  color: rgba(255, 255, 255, 0.9);
}
.navbar-inverse-login .btn-link:hover,
.navbar-inverse-login .btn-link:focus {
  color: #fff;
}
.navbar-inverse-login .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse-login .btn-link:hover,
.navbar-inverse-login .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse-login .btn-link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.dataTables_filter input {
  outline: 0;
  width: 800px;
  height: 38px;
  padding: 8px 0;
  padding-right: 24px;
  font-size: 13px;
  line-height: 1.5384616;
  color: #333333;
  background-color: transparent;
  border: 1px solid transparent;
  border-width: 1px 0;
  border-bottom-color: #ddd;
}
.dataTables_filter input:focus {
  border-bottom-color: #0064D2;
  -webkit-box-shadow: 0 1px 0 #0064D2;
  box-shadow: 0 1px 0 #0064D2;
}

.dropdown-menu > .dropdown-submenu.active > a {
  background-color: #0064D2;
  color: #fff;
}

.panel-blue {
  border-color: #0064D2;
}

.bg-blue {
  background-color: #0064D2;
  border-color: #0064D2;
  color: #fff;
}

.breadcrumb-elements > li > a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  background: #ffd400;
}

.breadcrumb-elements > li.open > a,
.breadcrumb-elements > li > a:hover,
.breadcrumb-elements > li > a:focus {
  background-color: #0064D2;
}

.nav-tabs.nav-tabs-bottom > li.active > a:after {
  background-color: #0064D2;
}

.ui-datepicker table td.ui-datepicker-current-day .ui-state-active {
  background-color: #0064D2;
  color: #fff;
}

.ui-datepicker table td.ui-datepicker-today .ui-state-highlight {
  background-color: #ffd400;
  color: #fff;
}

.login-container .page-container 
.login-form, 
.login-container .page-container 
.registration-form 
{
  margin: 0 auto 20px auto;
}

.datepicker table tr td.today, .datepicker table tr td.today.disabled, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled:hover {
  background-color: #ffd400;
  color: #fff;
}

.bg-indigo{
  background-color: #0064D2;;
  border-color: #0064D2;;
  color: #fff;
}

.datepicker table tr td.active, .datepicker table tr td span.active, .datepicker table tr td.active.disabled, .datepicker table tr td span.active.disabled, .datepicker table tr td.active:hover, .datepicker table tr td span.active:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td span.active.disabled:hover {
  background-color: #0064D2;
  color: #fff;
}

header nav ul .active{
  border-bottom-color: #0064D2;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #0064D2;
}

.navbar-default .navbar-nav > .active > a:after {
  background-color: #0064D2;
}

.menu-list li.active > a, .menu-list li.active > a:hover, .menu-list li.active > a:focus {
  color: #fff;
  background-color: #0064D2;
}

.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #0064D2;
}


.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #0064D2;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #0064D2;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #0064D2;
  border-color: #0064D2;
}

.select2-results__option[aria-selected=true] {
  background-color: #0064D2;
  color: #fff;
}

.select2-container--focus .select2-selection--single:not([class*=bg-]):not([class*=border-]),
.select2-container--open .select2-selection--single:not([class*=bg-]):not([class*=border-]) {
  border-bottom-color: #0064D2;
  -webkit-box-shadow: 0 1px 0 #0064D2;
  box-shadow: 0 1px 0 #0064D2;
}

.form-control:focus {
  outline: 0;
  border-color: transparent;
  border-bottom-color: #0064D2;
  -webkit-box-shadow: 0 1px 0 #0064D2;
  box-shadow: 0 1px 0 #0064D2;
}

.btn-blue-success
{
  color: #fff;
  background-color: #0064D2;
  border-color: #0064D2;
}

.btn-blue-success:focus,
.btn-blue-success.focus {
  color: #fff;
  background-color: #0064D2;
  border-color: #0064D2;
}
.btn-blue-success:hover {
  color: #fff;
  background-color: #0064D2;
  border-color: #0064D2;
}
.btn-blue-success:active,
.btn-blue-success.active,
.open > .dropdown-toggle.btn-blue-success {
  color: #fff;
  background-color: #0064D2;
  border-color: #0064D2;
}
.btn-blue-success:active:hover,
.btn-blue-success.active:hover,
.open > .dropdown-toggle.btn-blue-success:hover,
.btn-blue-success:active:focus,
.btn-blue-success.active:focus,
.open > .dropdown-toggle.btn-blue-success:focus,
.btn-blue-success:active.focus,
.btn-blue-success.active.focus,
.open > .dropdown-toggle.btn-blue-success.focus {
  color: #fff;
  background-color: #0064D2;
  border-color: #0064D2;
}
.btn-blue-success:active,
.btn-blue-success.active,
.open > .dropdown-toggle.btn-blue-success {
  background-image: none;
}
.btn-blue-success.disabled:hover,
.btn-blue-success[disabled]:hover,
fieldset[disabled] .btn-blue-success:hover,
.btn-blue-success.disabled:focus,
.btn-blue-success[disabled]:focus,
fieldset[disabled] .btn-blue-success:focus,
.btn-blue-success.disabled.focus,
.btn-blue-success[disabled].focus,
fieldset[disabled] .btn-blue-success.focus {
  background-color: #0064D2;
  border-color: #0064D2;
}
.btn-blue-success .badge {
  color: #0064D2;
  background-color: #fff;
}

.btn-yellow-cancel
{
  color: #fff;
  background-color: #ffd400;
  border-color: #ffd400;
}

.btn-yellow-cancel:focus,
.btn-yellow-cancel.focus {
  color: #fff;
  background-color: #ffd400;
  border-color: #ffd400;
}
.btn-yellow-cancel:hover {
  color: #fff;
  background-color: #ffd400;
  border-color: #ffd400;
}
.btn-yellow-cancel:active,
.btn-yellow-cancel.active,
.open > .dropdown-toggle.btn-yellow-cancel {
  color: #fff;
  background-color: #ffd400;
  border-color: #ffd400;
}
.btn-yellow-cancel:active:hover,
.btn-yellow-cancel.active:hover,
.open > .dropdown-toggle.btn-yellow-cancel:hover,
.btn-yellow-cancel:active:focus,
.btn-yellow-cancel.active:focus,
.open > .dropdown-toggle.btn-yellow-cancel:focus,
.btn-yellow-cancel:active.focus,
.btn-yellow-cancel.active.focus,
.open > .dropdown-toggle.btn-yellow-cancel.focus {
  color: #fff;
  background-color: #ffd400;
  border-color: #ffd400;
}
.btn-yellow-cancel:active,
.btn-yellow-cancel.active,
.open > .dropdown-toggle.btn-yellow-cancel {
  background-image: none;
}
.btn-yellow-cancel.disabled:hover,
.btn-yellow-cancel[disabled]:hover,
fieldset[disabled] .btn-yellow-cancel:hover,
.btn-yellow-cancel.disabled:focus,
.btn-yellow-cancel[disabled]:focus,
fieldset[disabled] .btn-yellow-cancel:focus,
.btn-yellow-cancel.disabled.focus,
.btn-yellow-cancel[disabled].focus,
fieldset[disabled] .btn-yellow-cancel.focus {
  background-color: #ffd400;
  border-color: #ffd400;
}

.btn-yellow-cancel .badge {
  color: #ffd400;
  background-color: #fff;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #0064D2;
  border-color: #0064D2;
  cursor: default;
}

body {
  font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5384616;
  color: #000000;
  background-color: #faf8f2;
}

.navbar-default .navbar-nav > li > a {
  color: #504d4d;
}

.pace .pace-progress {
  background: #ffd400;
  position: fixed;
  z-index: 2000;
  top: 0;
  width: 100%;
  right: 100%;
  height: 2px;
}

.bg-yellow-400 {
  background-color: #ffd400;
  border-color: #ffd400;
  color: #fff;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: transparent;
}

@media (max-width: 575px) {
  .space{
    margin-top:5px;
  }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
  .space{
    margin-top:5px;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  .space{
    margin-top:5px;
  }
}