.outer{
	font-family: arial;
	text-transform: uppercase;
	border: 4px solid #000;
	margin-left:0cm;
	margin-right: 0.3cm;
	height:10cm;
	width:11cm;
	border-radius: 0cm;
	margin-bottom: 0cm;
	margin-top: 0cm;
	
}
.title,
.creator,
.company,
.footer{
	text-align: center;
	padding-top: 6px;
	font-weight: bold;
	font-size: 12px;		
}	
.qrcode{
	text-align: left;
	margin-left: 0px;
	width: 25%;
	float: left;
	margin-top: 20px;
	
}
.isi{
	width: 10.5cm;
	border: 1px solid #000;
	margin-top: 0.3cm;
	margin-left: 0.2cm;
	margin-right: 0.2cm;
	font-weight: bold;
	font-size: 11px;
	position: absolute;
}
.isi1{
	height:0.8cm;
	text-align: center;
	border: 1px solid #000;
	font-weight: bold;
	font-size: 15px;
	padding-top: 4px;
	line-height: 0.8cm;
}
.isi2{
	text-align: center;
	height:200px;
	width: 40%;
	float: left;
	border: 1px solid #000;
}
.isi3{
	height:200px;
	width:58.5%;
	text-align: center;
	float: right;
	border: 1px solid #000;
}
.creator{
	padding-top: 5px;
}
.block-kiri{
	width: 100%;
	font-weight: bold;
	display: block;
	border-bottom: 1px solid #000;
	height: 24px;
}

.outer_2{
	font-family: arial;
	text-transform: uppercase;
	border: 4px solid #000;
	margin-left:0cm;
	margin-right: 0.3cm;
	height:2cm;
	width:11cm;
	border-radius: 0cm;
	margin-bottom: 0cm;
	
}
.title_2,
.creator_2,
.company_2,
.footer_2{
	text-align: center;
	padding-top: 15px;
	font-weight: bold;
	font-size: 12px;		
}	

.isi_2{
	height: 2cm;
	width: 3.85cm;
	border: 1px solid #000;
	float: left;

}

.isi1_2{
	height: 2cm;
	width: 6cm;
	/*border: 1px solid #000;
	font-weight: bold;*/
	font-size: 11px;
	float: right;
}


.block-kiri_2{
	width: 100%;
	display: block;
	border-bottom: 1px solid #000;
	height: 30px;
	text-align: center;
	font-weight: bold;
}
.block-kiri_2:last-child{
	border-bottom: 0px solid #000;
}